.App {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 0px;
}

.Container footer {
  font-size: 11px;
  margin: auto;
}

body {
  font-family: "Lato", sans-serif;
}

.footer {
  font-size: 12px;
}
