.Weather {
  border: 1px solid;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  padding: 15px;
  margin: 30px auto;
  margin-bottom: 5px;
}

.Weather ul {
  margin: 0px;
  padding: 0px;
}
.Weather li {
  list-style: none;
}

.btn {
  margin-left: 10px;
}
